.detail-item-content {
    display: flex;
    flex-direction: column;
}

.project-tag {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--tag-color);
}

.project-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--dot-color);
}